network:
  version: 2
  renderer: networkd
  ethernets:
    {{ network_interface }}:
      addresses:
        - {{ static_ip }}
      routes:
        - to: default
          via: {{ gateway }}
      nameservers:
        addresses: [{{ dns_servers | join(', ') }}]
